.myFooter {
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 723px;

  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

.iconInsta {
  position: absolute;
  left: 39%;
  top: 25.8%;
  bottom: 7.32%;
  color: #918e9b;
}

.iconLinkedin{
    position: absolute;
  left: 49%;
  top: 25.8%;
  bottom: 7.32%;
  color: #918e9b;
}

.iconGithub{
    position: absolute;
  left: 59%;
  top: 25.8%;
  bottom: 7.32%;
  color: #918e9b;
}